extends ../layout

block content
    a(href='/bicicletas/create') Nueva bicicleta
    br
    br

    table.table.table-striped
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') Color
            th(scope='col') Modelo
            th(scope='col') Ubicacion
            th(scope='col') 
            th(scope='col') 
            th(scope='col') 
        tbody
            each bici in [{id:1, color:'Rojo', modelo:'Urbana', ubicacion:[6.277429, -75.5883129]},{id:2, color:'Verde', modelo:'Ruta', ubicacion:[6.2813667,-75.5845283]}]
              tr
              th(scope='row')= bici.id
              td= bici.color
              td= bici.modelo
              td= bici.ubicacion
              td
                a(href= '/bicicletas/' + bici.id + '/view') Ver
              td
                a(href= '/bicicletas/' + bici.id + '/update') Editar
              td
                form.inline(method='post' action='bicicletas/' + bici.id + '/delete')
                input#id.form-control(type="hidden" name='id' value=bici.id) 
                button.link-button.btn-danger(type='submit' name='submit_param' value='Eliminar' class='btn')= 'Eliminar'
            //- each bicie in bicis
            //-   tr
            //-   th(scope='row')= bicie.id
            //-   td= bicie.color
            //-   td= bicie.modelo
            //-   td= bicie.ubicacion 